
<script type="text/javascript">
	document.addEventListener("touchmove", function(event) {
		// handle one finger touches
		switch(event.targetTouches.length) {
		case 1:
			var touch = event.targetTouches[0];
			if(touch.pageX < 20) {	// go forward
				window.location = "/songs/now_playing.html";
			}
			// stop the touches from moving the screen
			event.preventDefault();
			break;
		default:
			break;
		}
	}, false);
</script>


<div style="width:350px;">
  <div id="home-box" class="box" style="text-align:center">
    <div data-role="fieldcontain">
      <input id="autocomplete" placeholder="" value="" type="search" onkeypress="onKeyPress();" />
    </div>
    <button id="request-btn" class="btn primary">Request song</button>
  </div>
</div>

<h1>Listing requests</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Score</th>
    <th></th>
  </tr>

  <% @requests_by_score = @requests.sort {|a, b| b[1] <=> a[1]} %>
  <% @requests_by_score.each do |request| %>
  <tr>
    <td><%= request.name %></td>
    <td><%= request.score %></td>
    <td><button id="<%= request.id %>" class="request-vote-btn btn success">Upvote</button></td>
  </tr>
<% end %>
</table>

<br />
