<div class="container">

  <div id="home-box" class="box">
    <div id="title">Request Song</div>
    <input id="autocomplete" onkeypress="onKeyPress();"/>
    <button id="request-btn" class="btn primary">Request a song</button>
  </div> 
</div>

