<div style="width:500px;">
  <div id="home-box" class="box">
    <input id="autocomplete" onkeypress="onKeyPress();"/>
    <button id="request-btn" class="btn primary">Request a song</button>
    <div data-role="fieldcontain">

      <label for="textinput1">
        Title
      </label>
      <input id="textinput1 autocomplete" placeholder="" value="" type="search" onkeypress="onKeyPress();" />
    </div>
  </div>
</div>
