<div class="container">
	<div id="home-box" class="box">
		<div id="title">Request Song</div>
		<input id="autocomplete" onkeypress="onKeyPress();"/>
		<button id="request-btn" class="btn primary">Request a song</button>
	</div>
	 <div data-role="fieldcontain">

	<label for="textinput1">
	 Title
	 </label>
	 <input id="textinput1" placeholder="" value="" type="search" />
	 </fieldset>
	 </div>

</div>

