<div style="width:500px;">
  <div id="home-box" class="box" style="text-align:center">
    <div data-role="fieldcontain">
      <input id="autocomplete" placeholder="" value="" type="search" onkeypress="onKeyPress();" />
    </div>
    <button id="request-btn" class="btn primary">Request a song</button>
  </div>
</div>
