<div id="title">DJ Station</div>
<div style="text-align:center" style="display:inline-block" >
  <img style="position:absolute; left:0px; z-index:1; display:inline-block" src="/images/Dj_frame_left.png" />
  <%= render 'now_playing' %>
  <img  style="position:absolute; right:0px; z-index:-1; display:inline-block" src="/images/Dj_frame_right.png" />
</div>
