<div class="container">

<div id="home-box" class="box">
  <div id="title">DJ Station</div>
  <h2>New Song</h2>
  Title: <br />
  <input id="song-input" placeholder="Party Rock Anthem"/> <!--TODO: use echo nest to complete title--> <br />
  MP3 link: <br />
  <input id="song-link" placeholder="http://example.com/partyrock.mp3"/> <br />
  <br />

  <button id="request-btn" class="btn primary">Add New Song</button>
  <br />
  <br />
  <br />

<div class="song-title">Pitbull - Give me everything</div>
<br />
<audio controls="controls">
  <source src="http://dc100.4shared.com/img/1104092048/28e09647/dlink__2Fdownload_2FxhRfxFKL_3Ftsid_3D20120303-13812-26d0ac80/preview.mp3" type="audio/mpeg" />
  Your browser does not support the audio element.
</audio>

<br />
<br />
<div class="song-title">Rick Astley - Never gonna give you up</div>
<br />
<audio controls="controls">
  <source src="http://dc441.4shared.com/img/1184185856/605e02a0/dlink__2Fdownload_2FGcunibQa_3Ftsid_3D20120303-22700-ae071660/preview.mp3" type="audio/mpeg" />
  Your browser does not support the audio element.
</audio>


</div>

</div>
