<h1>DJ Station</h1>

Tell me what love is
<br />
<audio controls="controls">
  <source src="http://dc191.4shared.com/img/1182022516/73019270/dlink__2Fdownload_2FK3m5ydNK_3Ftsid_3D20120303-22530-eb114b30/preview.mp3" type="audio/mpeg" />
  Your browser does not support the audio element.
</audio>

<br />
<br />
Never gonna give you up
<br />
<audio controls="controls">
  <source src="http://dc441.4shared.com/img/1184185856/605e02a0/dlink__2Fdownload_2FGcunibQa_3Ftsid_3D20120303-22700-ae071660/preview.mp3" type="audio/mpeg" />
  Your browser does not support the audio element.
</audio>

