<h1>Accelerometer testing</h1>
 

  <style> 
  body {
    background-color: black;
    color: white;
    font-family: Helvetica, Verdana, Sans Serif;
    font-size: 30px;
  }
  
  #no {
  	display: none;	
  }
  
  #ball {
  	width: 20px;
  	height: 20px;
  	border-radius: 10px;
  	-webkit-radius: 10px;
  	background-color: red;
  	position:absolute;
  	top: 0px;
  	left: 0px;
  }
  </style> 

  <script> 

  if (typeof window.DeviceMotionEvent != 'undefined') {
    // Shake sensitivity (a lower number is more)
    var sensitivity = 20;

    // Position variables
    var x1 = 0, y1 = 0, z1 = 0, x2 = 0, y2 = 0, z2 = 0;

    // Listen to motion events and update the position
    window.addEventListener('devicemotion', function (e) {
        x1 = e.accelerationIncludingGravity.x;
        y1 = e.accelerationIncludingGravity.y;
        z1 = e.accelerationIncludingGravity.z;
    }, false);

    // Periodically check the position and fire
    // if the change is greater than the sensitivity
    setInterval(function () {
        var change = Math.abs(x1-x2+y1-y2+z1-z2);

        if (change > sensitivity) {
            alert('Shake!');
        }

        // Update new position
        x2 = x1;
        y2 = y1;
        z2 = z1;
    }, 150);
}};
  </script> 

 

  <div id="content"> 
      <h1>Move the Ball</h1> 
      <div id="yes"> 
          <p>Tilt your device to move the ball. This sample is using Device Orientation and Motion API compatible with iOS since 4.2</p> 
          <p>Mantain your device in portrait orientation for better results (you can lock it)</p> 
      </div> 
      <div id="no"> 
      Your browser does not support Device Orientation and Motion API. Try this sample with iPhone, iPod or iPad with iOS 4.2+.    
      </div> 
  </div> 
 


