
<style type="text/css">

    .event_list{

    margin: 10px;

}

.eb_event_list_item{

  padding-top: 20px;

  padding-bottom: 20px;

}

.eb_event_list_title{

  display:block;

  padding-left: 20px;

  width: 400px;

  overflow: hidden;

  font-size: larger;

}

.eb_event_list_date{

  position: absolute;

  left: 30px;

}

.eb_event_list_time{

  position: absolute;

  left: 175px;

}

.eb_event_list_location{

  position: absolute;

  left: 250px;

}



</style>

<script type='text/javascript'>

         jQuery(window).ready(function(){  
            jQuery("#btnInit").click(initiate_geolocation);  
        });  
  
        function initiate_geolocation() {  
            navigator.geolocation.getCurrentPosition(handle_geolocation_query);  
        }  
  
        function handle_geolocation_query(position){  
            alert('Lat: ' + position.coords.latitude + ' ' +  
                  'Lon: ' + position.coords.longitude);  
        }  

        //$.ajax({ type: "GET",url: "http://www.eventbrite.com/json/event_search?app_key=5HWLFDG4ZMAT4HSRLW&keywords=super%20fun",dataType: "jsonp", success: readData(data) } )
        console.log("asdff");
        Eventbrite({'app_key': "CLKWW6EUW2BJSOK4V2", 'user_key':"131598079919974107092"}, function(eb_client){ //eb_client interaction goes here... 
        // parameters to pass to the API
        var params = {'city': "San Francisco", 'region':'CA'};
// make a client request, provide another callback to handle the response data
eb_client.event_search( params, function( response ){
    console.log( response );
    }); 
            });
        /*var url = "https://www.eventbrite.com/json/event_search?app_key=CLKWW6EUW2BJSOK4V2&keywords=super%20fun";
$.getJSON(url, function (data) {
success: readData(data)
});
function readData(data) {
    alert(data[0].FirstName);
}*/


        /*$.ajax({
          url: "https://www.eventbrite.com/json/event_search?app_key=CLKWW6EUW2BJSOK4V2&keywords=super%20fun",
          type: "GET",
          dataType: "json"
        })
        .success(function(response) {
          console.log(response);
        })
        ;*/
        

</script>





<div class="event_list"><a href="http://eventbrite.com">Loading Events...</a></div>

    <div>  
      <button id="btnInit" class="btn primary">Find my location</button>  
    </div>
</body>

</html>

