
<style type="text/css">
    .event_list{
    margin: 10px;
}
.eb_event_list_item{
  padding-top: 20px;
  padding-bottom: 20px;
}
.eb_event_list_title{
  display:block;
  padding-left: 20px;
  width: 400px;
  overflow: hidden;
  font-size: larger;
}
.eb_event_list_date{
  position: absolute;
  left: 30px;
}
.eb_event_list_time{
  position: absolute;
  left: 175px;
}
.eb_event_list_location{
  position: absolute;
  left: 250px;
}

</style>
<script type='text/javascript'>

        jQuery(window).ready(function(){  
           initiate_geolocation;  
        });  
  
        function initiate_geolocation() {  
            navigator.geolocation.getCurrentPosition(handle_geolocation_query);  
        }  
  
        function handle_geolocation_query(position){  
            alert('Lat: ' + position.coords.latitude + ' ' +  
                  'Lon: ' + position.coords.latitude);  
        }  
  
 /*   $(window).load(function () {
        /* 
        Eventbrite Examples - event_search

        If you copy this code, please set your own API Key in the example below.
        You can request one here: http://www.eventbrite.com/api/key
        

        Eventbrite({ 'app_key': "5HWLFDG4ZMAT4HSRLW" }, function (eb) {

            // define a few parameters to pass to the API
            var options = {
                //'city': "San Francisco"
                //, 'region': "CA"
                'within':"3",
                'keywords':"Club dance",
                'city':"New York",
                'date':"This month" 
            };

            // provide a callback to display the response data:
            eb.event_search(options, function (response) {
                $('.event_list').html(eb.utils.eventList(response, eb.utils.eventListRow));
            });
        });
    });
    */


</script>


<div class="event_list"><a href="http://eventbrite.com">Loading Events...</a></div>
</body>
</html>
