<div class="container">
  <a href="/"><button id="home" type="button" class="navigation btn default">Linword Home</button></a>
  <div id="title">
    Linword Picture Gallery
  </div>
  <div id="gallery-box" class="box">
    <div id="landing-page">
      <img id="bg-lin-kobe" src="/images/lin_kobe.jpg" />
      <img id="bg-linferno" src="/images/linferno.jpg" />
      <div class="center">
        <h3>Tweet @carl_gao to share your favorite Linword or suggest more gallery pics!</h3>
        <h3>Or make your own Linword picture and I'll put it up!</h3>
        <h1>--</h1>
        <br />
        <br />
        <div id="word"></div>
          <br />
          <br />
          <br />
        <span class="submit-ratings">
          <button type="button" class="btn success submit-button">Generate another Lin word!</button>
          <br />
          <br />
          <br />
          <div style="float:left;" class="fb-like" data-href="http://linword.com" data-send="true" data-width="450" data-show-faces="true"></div>
          <span style="float:right; margin-left:20px;">
            <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://linword.com/">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          </span>
          <span style="float:right;">
            <a href="http://www.tumblr.com/share" title="Share on Tumblr" style="display:inline-block; text-indent:-9999px; overflow:hidden; width:81px; height:20px; background:url('http://platform.tumblr.com/v1/share_1.png') top left no-repeat transparent;">Share on Tumblr</a>
          </span>
        </span>
      </div>
      <div>by <a href="http://carlgao.com">Carl Gao</a>. Tweet @carl_gao to share your favorite Linword, or suggest more gallery pics! (or make your own and I'll put them up!)</div>
    </div>
    <br />
  </div>
</div>
<ul data-role="pagination">
	<li class="ui-pagination-prev"><a href="#/pages/song_request.html">Prev</a></li>
	<li class="ui-pagination-next"><a href="#/songs/now_playing.html">Next</a></li>
</ul>

