

<script type="text/javascript">
	document.addEventListener("touchmove", function(event) {
		// handle one finger touches
		switch(event.targetTouches.length) {
		case 1:
			var touch = event.targetTouches[0];
			if(touch.pageX > 320 - 20) {	// go forward
				window.location = "/songs/now_playing.html";
			}
			// stop the touches from moving the screen
			event.preventDefault();
			break;
		default:
			break;
		}
	}, false);
</script>

<div id="react-nav">
	<img src="" alt="twitter icon" />
	<img src="" alt="page-icon" />
	<img src="" alt="picture icon" />

</div>

<div id="react-main" class="">
	<img src="/images/React.png" alt="react" width="320px" />
</div>
