<div id="react-nav">
	<img src="" alt="twitter icon" />
	<img src="" alt="page-icon" />
	<img src="" alt="picture icon" />

</div>

<div id="react-main" class="">
	<img src="/images/React.png" alt="react" width="320px" />
</div>
