<div class="container">
	<!--<a href="/pages/gallery1"><button type="button" id="gallery" class="navigation btn info">Gallery</button></a>-->
	<!--	<a href="/songs/new">NEW SONG</a> -->
	<input id="request-input" />
	<button id="request-btn" class="btn primary">Request a song</button>
	<br />
<div data-role="fieldcontain">
	<fieldset data-role="controlgroup">
	<label for="textinput1">
	Title
	</label>
<input id="textinput1" placeholder="" value="" type="search" />
		</fieldset>
</div>
