<div class="container">
  <!--<a href="/pages/gallery1"><button type="button" id="gallery" class="navigation btn info">Gallery</button></a>-->
  <div id="title">
    Amplify
  </div>
  <div id="home-box" class="box">
    <a href="/songs/new">NEW SONG</a>
    <input id="request-input" />
    <button id="request-btn" class="btn primary">Request a song</button>
    <br />
  </div>
</div>
<ul data-role="pagination">
	<li class="ui-pagination-prev"><a href="songs/now_playing.html"></a></li>
	<li class="ui-pagination-next"><a href="pages/gallery1.html"></a></li>
</ul>
