<!DOCTYPE html>
<html>
<head>
  <title>Amplify</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults, "/public/javascripts/jquery.min.js", "/public/javascripts/jquery-ui.min.js", "/public/javascripts/jquery.mobile.pagination.js", "/public/javascripts/jquery.mobile-1.0.1.min.js" %>
  <%= csrf_meta_tag %>
</head>
<body>
  <%= yield %>
</body>
</html>
